//
// These are the print styles for the
// UA Division Student Affairs Footer.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

#sa-framework-footer-wrapper .sa-wordmark-column,
#sa-framework-footer-wrapper .search-column,
#sa-framework-footer-wrapper .social-media-column {
	display: none;
}

// Tweaking specific footer styles
#sa-framework-footer-wrapper {
	padding: 0 !important;
	min-height: 0 !important;

	.footer-copyright {
		margin: 0 !important;

		a {

			&:after {
				content: '';
			}

		}

	}

}