//
// These are the base styles for the
// UA Division Student Affairs Footer.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Footer settings
$sa-framework-footer-fill-bg: true !default; // Whether or not we want the footer color to fill the bottom of the screen
$sa-framework-footer-bg-color: #333 !default;
$sa-framework-footer-min-height: 120px !default;
$sa-framework-footer-wrapper-padding: 20px 0 40px 0 !default;
$sa-framework-footer-wordmark-height: 50px !default;
$sa-framework-footer-social-media-icon-height: 40px !default;
$sa-framework-footer-search-height: 40px !default;
$sa-framework-footer-font: 'Open Sans', sans-serif;

// Make the footer bg color fill the screen
@if $sa-framework-footer-fill-bg {
	body {
		background: $sa-framework-footer-bg-color;
	}
}

// Design the footer
#sa-framework-footer-wrapper {
	font-family: $sa-framework-footer-font;
	padding: $sa-framework-footer-wrapper-padding;
	color: rgba( #fff, 0.55 );

	@if $sa-framework-footer-bg-color {
		background-color: $sa-framework-footer-bg-color;
	}

	@if $sa-framework-footer-min-height {
		min-height: $sa-framework-footer-min-height;
	}

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.screen-reader-text {
		display: block;
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
		overflow: hidden;
		text-indent: -9999px;
	}

	#sa-framework-footer {

		.row {
			margin: 0 auto;
			max-width: 1200px;
			width: 100%;
			overflow: auto;
		}

		.columns {
			clear: both;
			width: 100%;
			min-height: 1px;
			padding-left: 20px;
			padding-right: 20px;
		}

	}

	a.fade {
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}

	}

	.sa-wordmark {
		margin: 0;
	}

	$icon-height: 55px;
	$side-padding: 6px;
	#sa-framework-footer-social-media {
		display: block;
		margin: 0;
		border: 0;
		padding: 0;
		list-style: none;
		height: $icon_height;
		line-height: $icon_height;
		text-align: center;

		li {
			display: inline-block;
			margin: 0;
			border: 0;
			padding: 0;
			list-style: none;

			a {
				display: block;
				padding: 0 $side-padding;
			}

			.icon {
				display: block;
				width: auto;
				height: $icon_height;
				margin: 0;
			}

			&:first-child {

				a {
					padding-left: 0;
				}

			}

			&:last-child {

				a {
					padding-right: 0;
				}

			}

			&.twitter {

				// Because the bird is a little side awkward
				a {
					padding-left: $side-padding + 2;
					padding-right: $side-padding - 1;
				}

			}

		}
	}

	#sa-framework-footer-search {
		//clear: both;
		//padding: 0;
		//border: 0;
		//position: relative;
		//overflow: visible;
		margin: 5px 0 0 0;

		form {
			display: block;
			margin: 0;
			border: 0;
			padding: 0;
			position: relative;

			input {
				margin: 0;
			}

			label {
				margin: 0;
				border: 0;
				padding: 0;
			}

			$placeholder-color: rgba( #000, 0.8 );
			.search-field {
				width: 100%;
				background: rgba( #fff, 0.8 );
				box-shadow: none;
				height: $sa-framework-footer-search-height;
				font-family: $sa-framework-footer-font;
				font-size: 18px;
				line-height: 35px;
				font-weight: 300;
				box-shadow: none;
				border: 0;
				padding-left: 42px;
				padding-right: 10px;
				color: #000;
				-webkit-appearance: none;

				// WebKit browsers
				&::-webkit-input-placeholder {
					color: $placeholder-color;
				}

				// Mozilla Firefox 4 to 18
				&:-moz-placeholder {
					color: $placeholder-color;
					opacity:  1;
				}

				// Mozilla Firefox 19+
				&::-moz-placeholder {
					color: $placeholder-color;
					opacity:  1;
				}

				// Internet Explorer 10+
				&:-ms-input-placeholder {
					color: $placeholder-color;
				}

			}

			.search-submit {
				display: none;
			}

			.search-icon {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				background: url( '../images/magnifying-glass-black.svg' ) 12px center no-repeat;
				background-size: auto 25px;
				width: $sa-framework-footer-search-height;
				height: $sa-framework-footer-search-height;
				opacity: 0.8;
			}

		}

	}

	.sa-wordmark-column {
		margin: 0 0 20px 0;

		a {
			display: block;
		}

	}

	.search-column {
		margin: 0 0 15px 0;
	}

	.social-media-column {
		margin: 10px 0 2px 0;

		a {
			display: block;
		}

		.footer-header {
			display: block;
			font-weight: 300;
			text-align: center;
			font-size: 16px;
			line-height: 18px;
			margin: 0 0 3px 0;
		}

	}

	.footer-copyright {
		clear: both;
		font-size: 14px; //0.85em;
		line-height: 1.7;
		font-weight: 300;
		margin: 15px 0 0 0;

		* {
			font-size: inherit;
			line-height: inherit;
			color: inherit;
			font-family: $sa-framework-footer-font;
			font-weight: inherit;

			&:last-child {
				margin-bottom: 0;
			}

		}

		a {
			text-decoration: underline;
		}

	}

}

//! Medium UP
@media only screen and (min-width:40.0625em) {

	#sa-framework-footer-wrapper {

		#sa-framework-footer {

			.columns {
				clear: none;
				float: left;
				position: relative;
				margin: 0;

				&.medium-4 {
					width: 33.33333%;
				}

				&.medium-pull-4 {
					right: 33.33333%;
					left: auto;
				}

				&.medium-push-4 {
					left: 33.33333%;
					right: auto;
				}

			}

		}

		.sa-wordmark {
			max-height: 50px;
			max-width: 354px;
		}

		#sa-framework-footer-social-media {
			height: $sa-framework-footer-wordmark-height;

			li {
				display: inline-block;
				width: auto;
				height: $sa-framework-footer-wordmark-height;

				a {
					height: $sa-framework-footer-wordmark-height;
					padding: ( ( $sa-framework-footer-wordmark-height - $sa-framework-footer-social-media-icon-height ) / 2 ) 4px 0 4px;
				}

				.icon {
					height: $sa-framework-footer-social-media-icon-height;
				}

			}

		}

		#sa-framework-footer-search {
			//margin: 16px 0 0 0;

			form {

				.search-field {
					//height: $footer-big-search-height;
					//padding-left: 40px;
					//font-size: 18px;
					//line-height: 35px;
				}

				/*.search-icon {
					//background: url( 'http://engstage.ua.edu/wp-content/themes/ua-eng-framework-2/images/icons/search-icon-black-30x30.svg' ) 10px center no-repeat;
					background-size: auto 20px;
					width: $footer-big-search-height;
					height: $footer-big-search-height;
				}*/

				//.close-search {
				//	//background: url( 'http://engstage.ua.edu/wp-content/themes/ua-eng-framework-2/images/icons/close-x-white-30x30.svg' ) 15px center no-repeat;
				//	//background-size: auto 15px;
				//	width: $footer-big-search-height;
				//	height: $footer-big-search-height;
				//}

			}

		}

		.sa-wordmark-column,
		.search-column,
		.social-media-column {
			margin: 0;
		}

		.sa-wordmark-column,
		.search-column {
			padding-top: 21px;
		}

	}

}