//
// These are styles that only need to be loaded
// on the UA Division Student Affairs main site.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

#sa-complaints {
	margin: 25px 0 30px 0;

	.sa-complaint-choices {

		.columns {
			padding-left: 10px;
			padding-right: 10px;
		}

		.sa-complaint-choice {
			min-height: 200px;
			//border: 1px solid #ebebeb;
			background: #eee; //rgba( #000, 0.03 );
			padding: 10px;
			text-align: center;
			cursor: pointer;
			position: relative;
			font-size: 1.1em;
			line-height: 1;

			span {
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				width: 100%;
			}

			&:hover {
				background: #800; //rgba( #900, 0.05 );
				text-decoration: underline;
				font-weight: 600;
				color: #fff;
			}
			
		}

	}

	// Hidden by default
	#sa-complaints-tabs,
	#sa-complaints-content {
		display: none;
	}

	#sa-complaints-content {

		.gform_wrapper {

			.gform_footer {
				padding: 10px 0 0 0;

				.button {
					width: 97.5%;
					margin: 0;
				}

			}

		}

	}

}
